  <p class="intro">Please input experiment name (e.g. TRIPTEASE).</p>

<div class="experiment">
  <div class="experiment-header">
    <h2>
        Input client name
    </h2>
    <form action="<%= url %>" method='get' style='float: left;margin: 6px 20px;'>
      <input type='text' name='client' value='Input client name' width='200'>
      <input type="submit" value="Go" class="green">
    </form>
  </div>
</div>

